__pycache__/
/.direnv/
/.idea/

.private/.*.*
.private/*.*
!.private/.gitkeep
*.key
*.crt

macos/automator/testing.workflow/

/node_modules/
/scripts/ideas/work/

/scripts/moxi/.ai/logs
.DS_Store
.aider*
/ai/lib/
