[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
  url = https://github.com/ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule ".vim/bundle/typescript-vim"]
  path = .vim/bundle/typescript-vim
  url = https://github.com/leafgarland/typescript-vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive
  ignore = dirty
[submodule ".vim/bundle/vim-javascript"]
  path = .vim/bundle/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/tsuquyomi"]
	path = .vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
